.userAuth{
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
.logout {
    margin-right: 15px;
}
.signed-out {
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}